:root{
    --button-color:rgb(90, 3, 90) ;
}
#timer{
    display:flex;
    justify-content: flex-end;
    
}
#high-score{
    display: flex;
    color:var(--button-color);
  
}

h1{
    display:flex;
    justify-content: center;
   
}

body{
    margin:20px;
}

p{
    display: flex;
    justify-content: center;
}

#start{
  background-color: var(--button-color);
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  padding: 10px 15px;
  text-align: center;
  margin:  auto;
  display: block;
}
button{
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  margin:  auto;
  display: block;
  padding: 15px 20px;
  background-color: transparent;
  border-color: var(--button-color);
  margin-top: 10px;
}

button:hover{
    background-color: var(--button-color);
    color: white;
}
#quiz-content{
    display: none;
    text-align:center;
    margin: auto;
   margin-top: 10px;
}

#restart-button{
  background-color:var(--button-color);
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  padding: 10px 15px;
  text-align: center;
  margin:  auto;
  margin-top: 10px;
  display: none;
}
#save{
    background-color: var(--button-color);
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 15px;
    text-align: center;
    margin:  auto;
    display: block;  
    margin-top: 10px;
}